<nav class="navbar">
        <ul class="navbar-nav container-fluid d-inline-flex flex-row p-2 justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Series</a>
            </li>
            <li><a class="navbar-brand" href="#"><img src="{{ asset('build/images/logo.png') }}"></a></li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acteurs</a>
            </li>
        </ul>
</nav>