<header>
    <nav class="navbar fixed-top text-white">
        <ul class="navbar-nav container-fluid d-inline-flex flex-row p-2 justify-content-center text-white">
            <li class="nav-item ml-5">
                <a class="nav-link text-white p-2" href="{{ path('program_index') }}">Series</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link text-white p-2" href="/">Acteurs</a>
            </li>
            <li class="logo ml-5"><a class="r-0" href="/"><img src="{{ asset('build/images/logo.png') }}"></a></li>
            <li class="nav-item ml-5">
                <a class="nav-link text-white p-2" href="{{ path('app_episode_index') }}">Episodes</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link text-white p-2" href="{{ path('app_season_index') }}">Saisons</a>
            </li>
        </ul>
    </nav>
</header>