<sidebar class="d-none d-md-flex flex-column flex-shrink-0 col-3 col-lg-2 min-vh-100 border-secondary">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav flex-column mb-auto">
        {%  for elem in 0..3 %}
            <li>
                <a href="#" class="nav-link active" aria-current="page">Home</a>
            </li>

            <li>
                <a href="#" class="nav-link link-dark">Customers</a>
            </li>
        {% endfor %}
    </ul>
</sidebar>