{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block content %}
	{%  include '/include/_sidebar.html.twig' %}
	<main>
		{% for program in programs %}
			{%  include '/include/_card.html.twig' %}
		{% else %}
			Aucune série trouvée.
		{% endfor %}

		<a href="{{ path('app_index') }}">
			Retour à l'accueil
		</a>
	</main>
{% endblock %}