{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} - index</h1>
				<h2>Bienvenue les Wilders ! Symfony ça tranche sa chèvre !</h2>
				<p>
					Tcho les nazes !!!
				</p>
	<img src="{{ asset('build/images/minx.webp') }}" alt=""/>
{% endblock %}