// customize some Bootstrap variables
$primary: #48cfad;
$secondary: #A7008C;
$darkGrey: #2D2D2D;
$lightGrey: #3A3A3A;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

* {
    color:floralwhite;
    font-family: 'Merriweather Sans', sans-serif;
}
body {
    background-color: $darkGrey;
    padding-top: 8rem;
}

nav {
    background: black;
}

logo {
    position:absolute;
    right:50%;
}

nav img {
    width:5rem;
}

main img {
    width:30rem;
}

main {
    margin:1rem;
}

sidebar {
    border-right : 1px solid;
}