// customize some Bootstrap variables
$primary: #48cfad;
$secondary: #A7008C;
$darkGrey: #2D2D2D;
$lightGrey: #3A3A3A;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

* {
    color:darkgrey;
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    background-color: $darkGrey;
    padding-top: 7rem;
}

nav {
    background: black;
}

logo {
    position:absolute;
    right:50%;
}

nav img {
    width:5rem;
}

main img {
    width:30rem;
}

.row > * {
    flex-shrink:initial;
}

article {
    background-color: $darkGrey!important;
}

.big-articles{
    height:30rem;
}

.little-articles{
    height:60rem;
}

@media screen and (min-width: 600px) {
    .little-articles{

        height:15rem;
    }
}

article>div:first-child {
    background-size: cover;
    background-position: center top;

}

article h2 a {
    text-shadow: 1px 1px 50px black;
}


.card_icons{
    height:2rem;
}